# Data Generation

### On `Mobile money` transactions for `Mara Bank`

## Sections

- Introduction
    - Project Overview
    - Objectives

- Data Importation
    - Import modules
    - Import Datasets
    - Set Global Constants

- Data Description
    - Data Information
    - Dataset Shape and Size
    - Data Types

- Generator Functions
    - tick
    - random_amount
    - random_location
    - generate_bank_devices
    - new_account
    - new_user
    - generate_users
    - generate_nonce
    - random_user
    - random_merchant
    - random_atm

- Simulations
    - add_transaction
    - credit_account
    - debit_account
    - atm_withdrawal
    - atm_payment
    - atm_deposit
    - pos_payment
    - pos_withdrawal
    - mobile_transfer
    - generate_event
    - simulate

## Introduction

### Project Overview

In the dynamic landscape of digital finance, the ability to detect fraudulent activities amidst a deluge of daily transactions is paramount. 

This notebook embarks on a journey to simulate financial transactions within Nigeria, creating a realistic synthetic dataset to serve as a foundation for building robust fraud detection models.
 
Unmasking Financial Irregularities: `A Synthetic Data Journey into Nigerian Transaction Fraud Detection`

### Project Objective

By mimicking the patterns and complexities of real world ATM card and mobile phone transactions, we aim to generate data that reflects the nuances of consumer behavior and potential fraudulent schemes. 

This synthetic environment allows us to explore various detection techniques without compromising sensitive personal information, providing a safe and ethical space for developing innovative solutions to combat financial crime. 

Join us as we dive into the fascinating world of data generation, fraud detection logic, and the simulation of a bustling financial ecosystem.

Here are the entities considered in this synthetic banking system in order to generate a transactions table mimicing that of an actual bank.

- Banks
    - Bank Devices (ATM Stands)
    
- Users
    - Bank Accounts (Owned by Users)
    - User Devices
    - Merchants (Users with POS)

Here are the data points to generate for each transaction:

- `amount`: The value of the transaction.
- `balance`: The account balance after the transaction.
- `time`: The timestamp of the transaction.
- `holder`: The account number of the transaction's initiator or recipient.
- `kyc`: The kyc level of the account
- `holder_bvn`: The BVN of the transaction's initiator or recipient.
- `holder_bank`: The bank of the related party.
- `related`: The account number or entity related to the transaction (e.g., recipient account, ATM bank).
- `related_bvn`: The BVN of the related party.
- `related_bank`: The bank of the related party.
- `state`, `latitude`, `longitude`: Location details of the transaction.
- `status`: The outcome of the transaction (e.g., 'SUCCESS', 'FAILED').
- `type`: The transaction type (e.g., 'DEBIT', 'CREDIT').
- `category`: The specific class of transaction (e.g., 'OPENING', 'WITHDRAWAL', 'PAYMENT', 'TRANSFER', 'REVERSAL', 'BILL').
- `channel`: The channel used for the transaction (e.g., 'CARD', 'APP', 'USSD').
- `device`: The device used for the transaction (e.g., 'ATM-001', 'MOBILE-003') .
- `nonce`: A unique identifier for the transaction.
- `reported`: Marks reported transactions?

## Data Importation

- Import modules
- Import Datasets
- Set Global Constants

### Import Modules

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Import the required modules

import pandas as pd # Used for data manipulation and analysis.
import numpy as np # Used for numerical operations
import random # Used to randomize situations
from datetime import datetime, timedelta # Used to add timestamp to the transactions.
import time
import os
import sys

In [3]:
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [4]:
from lib import  tracker

### Import datasets

In [5]:
# Load the Nigerian state locations data from a CSV file into a pandas DataFrame.
location_df = pd.read_csv('../datasets/nigerian_state_locations.csv')

# Display the first few rows of the location_df DataFrame.
location_df.head()

  state  latitude  longitude
0  Abia  8.732392   4.630143
1  Abia  8.727039   4.615569
2  Abia  8.738321   4.635168
3  Abia  8.768629   4.611625
4  Abia  8.714793   4.641194

### Set global constants

In [6]:
# Define constant variables used in the data generation process.

SEED = 42 # Seed for random number generation to ensure reproducibility.

NUM_USERS = 1000 # Number of users to generate.

NUM_BANKS = 50 # Number of banks to generate.

TRX_TYPES = ['DEBIT', 'CREDIT'] # Possible transaction types.

CHANNELS = ['CARD', 'APP', 'USSD'] # Possible transaction channels.

SEASONS = 365

BASE_TIME = datetime.now() - timedelta(days=SEASONS) # The starting time for transaction timestamps.

TICKER = 0 # The number of seconds that have passed

transactions = {} # Initialize an empty DataFrame to store the generated transactions.

users_df = pd.DataFrame() # Initialize an empty DataFrame to store the generated users.

accounts_df = pd.DataFrame() # Initialize an empty DataFrame to store the generated user accounts.

bank_device_df = pd.DataFrame() # Initialize an empty DataFrame to store the generated bank devices.

MIN_AMOUNT = 100

## Generator Functions

We will be using the following functions to enable the generation of the entities required for this project.

- `tick`: A synthetic Clock

- `random_amount`: Generates a random amount base of account level and set treshhold

- `random_location`: Selects a random location using the location's Dataframe we imported.

- `generate_nonce`: Generates an identifier for related transactions.

- `generate_banks`: Sets up the banks for the project

- `generate_bank_devices`: Assigns ATM devices to banks at random locations.

- `generate_users`: Generates the users for the project.

- `generate_user_accounts`: Assign bank accounts at random banks to all users.

- `open_account`: Makes initial deposit for each account to complete the account opening process.

- `random_account`: This is used to select a random account to initiate a transaction.

- `random_atm`: This is used to select a random atm to initiate a transaction.

In [7]:
def tick(sec = 1):
    """
        A synthetic clock ticker.

        @param sec: The number of seconds to tick forward.

        @return: The current time after ticking forward.
    """

    # Enable the global time
    global TICKER, BASE_TIME

    # Pick a random number of seconds
    TICKER += random.randint(0, sec)

    # Update the base time using the selected number of seconds
    time = BASE_TIME + timedelta(seconds=TICKER)

    return time

In [8]:
def random_amount(level=1, limit=0):
    """
        Generate a random amount.

        @param level: The level of the account.
        @param limit: The maximum amount to generate.

        @return: A random amount.
    """

    # Set the bounds for amount
    max_amount = limit if limit else 10000 * (10 ** level)
    min_amount = max_amount / (100)

    # Generate a random amount and round it 2 decimal places to mimic money.
    amount = round(np.random.uniform(min_amount, max_amount), 2)

    return amount

In [9]:
def random_location(lat=None, lon=None):
    """
        Select a random location from location_df (vectorized & fast).

        @params lat: The latitude
        @params lon: The longitude

        @returns a random location(lon, lat)
    """


    limits = [1, 10, 100, 1000, 10000]
    radius = random.uniform(0, random.choices(limits, [1, .5, .1, .05, .001], k=1)[0])
    locations = location_df.copy()

    if lat is not None and lon is not None:
        distances = locations.apply(
            lambda location: 
            tracker.distance(
                latA=lat,
                lonA=lon,
                latB=location['latitude'],
                lonB=location['longitude']
            ),
            axis=1
        )

        # Filter within radius
        nearby = locations.loc[distances <= radius]
        if not nearby.empty:
            locations = nearby

    # fallback: pick any location
    return locations.sample(n=1).squeeze()

In [10]:
def generate_nonce():
    """
        Generate a random nonce.

        @return: A random nonce.
    """

    return random.randint(1e20, 1e21-1)

In [11]:
def generate_bank_devices():
    """
        Generate a list of banks and assign a random number devices.

        @return: A DataFrame containing bank information.
    """

    # Initialize a random list of bank devices
    devices = []

    # Generate based on the set number of banks
    for i in range(NUM_BANKS):
        # Set the unique identifier for each bank
        bank_id = f"BANK_{(i):05}"

        # Assign bank a random number of devices
        num_devices = random.randint(1, 3)

        # Generate devices for each bank
        for _ in range(num_devices):
            # Assign bank device a random location
            location = random_location()

            # Set a unique identifier for the device
            marker = len(devices) + 1
            device_id = f"{'ATM'}_{marker:010}"

            # Set device details
            device = {
                'device_id': device_id,
                'bank_id': bank_id,
                **location
            }

            # Add device to the general banks device list
            devices.append(device)

        transactions[bank_id] = pd.DataFrame()

    return pd.DataFrame(devices).set_index('device_id')

# Generate banks data
bank_device_df = generate_bank_devices()

# Previce banks data
bank_device_df.head()

                   bank_id    state   latitude  longitude
device_id
ATM_0000000001  BANK_00000     Kogi  10.073038   3.171400
ATM_0000000002  BANK_00000   Sokoto  12.982020   5.230135
ATM_0000000003  BANK_00000  Anambra  10.675228   4.936083
ATM_0000000004  BANK_00001   Ebonyi   6.405663   3.580839
ATM_0000000005  BANK_00001     Ondo   8.425542   5.977803

In [12]:
def add_transaction(transaction):
    """
        Adds a transaction to the transactions dataframe

        @params transaction: The transaction to add
    """

    # Add transaction
    global transactions
    bank_id = transaction.get('holder_bank')
    transactions[bank_id] = pd.concat([transactions[bank_id], pd.DataFrame([transaction])], ignore_index=True)

In [ ]:
def new_account(user_id):
    """
        Generates a new account belonging to the user with provided user_id in a random bank.

        @params user_id: The id (BVN) of the user
    """
    global transactions_df, accounts_df

    # Get the user
    user = users_df.loc[user_id]

    # Set a unique identifier for each account
    account_no = f"ACC_{(len(accounts_df) + 1):010}"

    # Set a random kyc level for account
    level = random.choices([1, 2, 3, 4], [1, 1, 1, .2], k=1)[0]

    # Set location for where this account is opened
    location = user[['state', 'latitude', 'longitude']] if random.random() > .3 else random_location(user['latitude'], user['longitude'])

    # Open this account in a random bank
    bank_id = random.choice(bank_device_df['bank_id'].unique())

    # Set a random amount as the opening amount based on the account's kyc level
    opening_balance = random_amount(level)

    device = random.choice(user['devices'])

    # Initialize accout with basic information
    account = {
        'account_no': account_no,
        'balance': opening_balance,
        'kyc': level,
        'bvn': user_id,
        'bank_id': bank_id,
        'merchant': random.random() > 0.9,
        'opening_device': device
    }

    # Set the details for first transaction
    opening_transaction = {
        'amount': opening_balance,
        'balance': opening_balance,
        'time': tick(5),
        'holder': account['account_no'],
        'holder_bvn': account['bvn'],
        'holder_bank': account['bank_id'],
        'related': account['bank_id'],
        'related_bvn': account['bank_id'],
        'related_bank': account['bank_id'],
        **location,
        'status': 'SUCCESS',
        'type': 'CREDIT',
        'category': 'OPENING',
        'channel': 'APP',
        'device': device,
        'nonce': generate_nonce(),
        'reported': False
    }

    # Add account to the account dataframe
    accounts_df = pd.concat([accounts_df, pd.DataFrame([account]).set_index('account_no')])

    # Add transaction to the transaction dataframe
    add_transaction(opening_transaction)

In [14]:
def new_user():
    """
        Generates a new user
    """

    # Use the global users dataset
    global users_df

    # Set the unique identifier for each user
    user_marker = len(users_df) + 1
    user_id = f"USER_{(user_marker):012}"

    # Assign user a random number of devices
    num_devices = random.randint(1, 2)

    # Assign user a random location
    location = random_location()

    # Initialize an empty device list to this user
    user_devices = []

    # Generate devices for each user
    for _ in range(num_devices):
        # Set a unique identifier for the device
        device_marker = len(user_devices) + 1
        device_id = f"{'MOBILE'}_{user_marker:05}_{device_marker:05}"

        # Add device to the specific user device list
        user_devices.append(device_id)

    # Add user to the user list
    user = {
        'user_id': user_id,
        'devices': user_devices,
        **location
    }

    # Add account to the account dataframe
    users_df = pd.concat([users_df, pd.DataFrame([user]).set_index('user_id')])

    # Create an account for this user
    new_account(user_id)

In [15]:
def generate_users():
    """
        Generate a list of users and assign a random number devices and accounts to each.

        @return: A DataFrame containing user information.
    """

    # Generate based on the set number of users
    for _ in range(NUM_USERS):
        new_user()

# Generate users data
generate_users()

# Previce users data
users_df.head()

,devices,state,latitude,longitude
user_id,,,,
USER_000000000001,"[MOBILE_00001_00001, MOBILE_00001_00002]",Plateau,7.351898,4.059210
USER_000000000002,[MOBILE_00002_00001],Bayelsa,7.538992,4.747898
USER_000000000003,[MOBILE_00003_00001],Ogun,10.907129,3.678199
USER_000000000004,"[MOBILE_00004_00001, MOBILE_00004_00002]",Benue,10.888057,4.366624
USER_000000000005,[MOBILE_00005_00001],Niger,6.463792,7.531530

In [16]:
def random_account(exclude):
    """
        Select a random account number from the accounts_df.

        @return: An account
    """
    level = random.choices([1, 2, 3, 4], [1, 2, 3, 4], k=1)[0]
    
    # Select a random account
    return accounts_df.drop(exclude).loc[accounts_df['kyc'] >= level].sample(n=1).squeeze()

In [17]:
def random_merchant(lat, lon):
    """
        Select a random merchant from the merchants DataFrame

        @params lat: The latitude
        @params lon: The longitude

        @returns: a random account that is a merchant within the set location(lon, lat)
    """

    # Get the list of merchants
    merchants_list = accounts_df[accounts_df['merchant']]

    # Get the users who are merchants
    merchant_users_list = users_df[users_df.index.isin(merchants_list['bvn'])].copy()

    # Pick radius
    limits = [1, 10, 100, 1000, 10000]
    radius = random.uniform(0, random.choices(limits, [1, .5, .1, .05, .001], k=1)[0])

    # Calculate the distance of merchants
    merchant_users_list['distance'] = merchant_users_list.apply(
        lambda merchant: 
        tracker.distance(
            latA=lat,
            lonA=lon,
            latB=merchant['latitude'],
            lonB=merchant['longitude']
        ),
        axis=1
    )

    # Filter by radius
    nearby = merchant_users_list.loc[merchant_users_list['distance'] <= radius]

    # Select a merchant
    if not nearby.empty:
        merchant_id = nearby.sample(n=1).squeeze().name
        merchants_list = merchants_list[merchants_list['bvn'] == merchant_id]

    merchant = merchants_list.sample(n=1).squeeze()

    # Final merchant details
    device_id = f'POS_{merchant.name.split("_")[-1]}'
    user_id = merchant['bvn']
    user = users_df[users_df.index == user_id].squeeze()

    return {
        'state': user['state'],
        'latitude': user['latitude'],
        'longitude': user['longitude'],
        'device_id': device_id,
        'account_no': merchant.name,
        'bvn': user_id,
        'bank_id': merchant['bank_id'],
        'balance': merchant['balance']
    }

In [18]:
def random_atm(lat, lon):
    """
        Select a random bank device from bank_device_df

        @params lat: The latitude
        @params lon: The longitude

        @returns: a random account that is a merchant within the set location(lon, lat)
    """

    # Pick radius
    limits = [1, 10, 100, 1000, 10000]
    radius = random.uniform(0, random.choices(limits, [1, .5, .1, .05, .001], k=1)[0])

    # Calculate the distance of merchants
    distances = bank_device_df.apply(
        lambda bank_device: 
        tracker.distance(
            latA=lat,
            lonA=lon,
            latB=bank_device['latitude'],
            lonB=bank_device['longitude']
        ),
        axis=1
    )

    # Filter by radius
    candidates = bank_device_df.loc[distances <= radius]

    # Select a bank device
    if candidates.empty:
        candidates = bank_device_df
    
    bank_device = candidates.sample(n=1).squeeze()

    return {
        'state': bank_device['state'],
        'latitude': bank_device['latitude'],
        'longitude': bank_device['longitude'],
        'device_id': bank_device.name,
        'account_no': bank_device.name,
        'bvn': bank_device.name,
        'bank_id': bank_device['bank_id'],
    }

## Simulation Functions

We will be using the following functions to simulate the real world.

- `add_transaction`: Add a transaction to the transactions dataframe

- `debit_account`: Debits an account

- `credit_account`: Credits an account

- `atm_withdrawal`: Simulates a cart withdrawal

- `atm_payment`: Simulates a card payment like Bills and Shopping

- `atm_deposit`: Simulates a card payment like Bills and Shopping

- `pos_payment`: Simulates a card payment like Bills and Shopping

- `pos_withdrawal`: Simulates a card payment like Bills and Shopping

- `mobile_transfer`: Simulates a mobile transfer using either USSD or APP

- `generate_event`: Simulates a random event (Withdrawal or Payment or Transfer)

- `simulate`: Simulates the banking process through time

In [19]:
def debit_account(holder, related, amount, device_id, location, category, channel, nonce):
    """
        Debit an account

        @params holder: The details of the account the money is leaving
        @params related: The details of the account to money is going to
        @params amount: The amount to be debited
        @params device_id: The device used for the transaction
        @params location: The location of the transaction
        @params category: The category of the transaction
        @params channel: The channel used for the transaction
        @params nonce: The nonce of the transaction

        @return: The debit transaction details
    """

    # Deterine if the transaction will be successful, randomly. All reversals must be successful.
    status = 'SUCCESS' if category == 'REVERSAL' else random.choices(['SUCCESS', 'FAILED'], [0.7, 0.3], k=1)[0]

    # Get the balance of the transaction
    balance = round(holder['balance'] - amount, 2) if status == 'SUCCESS' else holder['balance']

    # Transaction fails if the balance is insufficient.
    if balance < 0:
        status = 'FAILED'
    else:
        # Update user account balance
        accounts_df.loc[accounts_df.index == holder['account_no'], 'balance'] = balance

    # Randomly report this transaction
    reported = random.random() > .8 if status == 'SUCCESS' else False

    return {
        'amount': amount,
        'balance': balance,
        'time': tick(),
        'holder': holder['account_no'],
        'holder_bvn': holder['bvn'],
        'holder_bank': holder['bank_id'],
        'related': related['account_no'],
        'related_bvn': related['bvn'],
        'related_bank': related['bank_id'],
        **location,
        'channel': channel,
        'device': device_id,
        'status': status,
        'category': category,
        'type': 'DEBIT',
        'nonce': nonce,
        'reported': reported
    }

In [20]:
def credit_account(holder, related, amount, device_id, location, category, channel, nonce):
    """
        Credit an account

        @params holder: The details of the account the money is leaving
        @params related: The details of the account to money is going to
        @params amount: The amount to be credited
        @params device_id: The device used for the transaction
        @params location: The location of the transaction
        @params category: The category of the transaction
        @params channel: The channel used for the transaction
        @params nonce: The nonce of the transaction

        @return: The credit transaction details
    """

    # Get the balance of the transaction
    balance = round(holder['balance'] + amount)

    # Update the account balance
    accounts_df.loc[accounts_df.index == holder['account_no'], 'balance'] = balance

    # Randomly report this transaction
    reported = random.random() > .8

    return {
        'amount': amount,
        'balance': balance,
        'time': tick(),
        'holder': holder['account_no'],
        'holder_bvn': holder['bvn'],
        'holder_bank': holder['bank_id'],
        'related': related['account_no'],
        'related_bvn': related['bvn'],
        'related_bank': related['bank_id'],
        **location,
        'channel': channel,
        'device': device_id,
        'status': 'SUCCESS',
        'category': category,
        'type': 'CREDIT',
        'nonce': nonce,
        'reported': reported
    }

In [21]:
def atm_withdrawal(holder, amount, nonce, reverse):
    """
        Simulates card withdrawal transactions

        @params holder: The details of the account the money is leaving
        @params amount: The amount to be credited
        @params nonce: The nonce of the transaction
        @params reverse: A random chance of reversing the transaction
    """

    # Select a random bank device for this transaction
    bank_device = random_atm(holder['latitude'], holder['longitude'])

    # Get the device id
    device_id = bank_device['device_id']

    # Get the device location
    location = {
        'state': bank_device['state'],
        'longitude': bank_device['longitude'],
        'latitude': bank_device['latitude']
    }

    # Set the related party of this transaction (The holder's bank)
    related = {
        'account_no': bank_device['account_no'],
        'bvn': bank_device['bvn'],
        'bank_id': bank_device['bank_id']
    }

    # Debit the holder and add transaction
    debit = debit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category='WITHDRAWAL', channel='CARD', nonce=nonce)
    add_transaction(debit)

    # Balance the books if the transaction was a success
    if (debit['status'] == 'SUCCESS') and reverse:
        # Simulate time passing
        tick(60 * 10)

        # Credit the related account and add the transaction
        credit = credit_account(holder={**holder, 'balance': debit['balance']}, related=related, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
        add_transaction(credit)

In [22]:
def atm_deposit(holder, amount, nonce, reverse):
    """
        Simulates card deposit transactions

        @params holder: The details of the account the money is leaving
        @params amount: The amount to be credited
        @params nonce: The nonce of the transaction
    """

    # Select a random bank device for this transaction
    bank_device = random_atm(holder['latitude'], holder['longitude'])

    # Get the device id
    device_id = bank_device['device_id']

    # Get the device location
    location = {
        'state': bank_device['state'],
        'longitude': bank_device['longitude'],
        'latitude': bank_device['latitude']
    }

    # Set the related party of this transaction (The holder's bank)
    related = {
        'account_no': bank_device['account_no'],
        'bvn': bank_device['bvn'],
        'bank_id': bank_device['bank_id']
    }

    # Credit the holder and add transaction
    credit = credit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category='DEPOSIT', channel='CARD', nonce=nonce)
    add_transaction(credit)

In [23]:
def atm_payment(holder, amount, nonce, reverse):
    """
        Simulates card payment transactions

        @params holder: The details of the account the money is leaving
        @params amount: The amount to be credited
        @params nonce: The nonce of the transaction
        @params reverse: A random chance of reversing the transaction
    """

    # Select a random bank device
    # Select a random bank device for this transaction
    bank_device = random_atm(holder['latitude'], holder['longitude'])

    # Get the device id
    device_id = bank_device['device_id']

    # Get the device location
    location = {
        'state': bank_device['state'],
        'longitude': bank_device['longitude'],
        'latitude': bank_device['latitude']
    }

    # Select a random recipient account
    account = random_account(exclude=holder['account_no'])

    # Set the relate account details
    related = {
        'account_no': account.name,
        'bvn': account['bvn'],
        'bank_id': account['bank_id'],
        'balance': account['balance']
    }

    # Set the category of the transaction randomly
    category = random.choice(['PAYMENT', 'BILL'])

    # Debit the holder and update the transactions dataframe
    debit = debit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category=category, channel='CARD', nonce=nonce)
    add_transaction(debit)

    # Was the transaction a success; balance the books.
    if (debit['status'] == 'SUCCESS'):
        # Simulate time passing
        tick(60 * 2)

        # Credit the related account and update the transactions dataframe
        credit = credit_account(holder=related, related=holder, location=location, device_id=device_id, amount=amount, category=category, channel='CARD', nonce=nonce)
        add_transaction(credit)

        # For some reason a reveral was initiated.
        if reverse:
            # Time passes
            tick(60 * 10)

            # Reverse the debit and update transactions dataframe
            debit_reversal = credit_account(holder={**holder, 'balance': debit['balance']}, related=related, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
            add_transaction(debit_reversal)

            # Reverse the credit and update transactions dataframe
            credit_reversal = debit_account(holder={**related, 'balance': credit['balance']}, related=holder, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
            add_transaction(credit_reversal)

In [24]:
def pos_withdrawal(holder, amount, nonce, reverse):
    """
        Simulates card withdrawal transactions

        @params holder: The details of the account the money is leaving
        @params amount: The amount to be credited
        @params nonce: The nonce of the transaction
        @params reverse: A random chance of reversing the transaction
    """

    # Select a random merchant for this transaction
    merchant = random_merchant(holder['latitude'], holder['longitude'])

    # Get the device id
    device_id = merchant['device_id']

    # Get the device location
    location = {
        'state': merchant['state'],
        'longitude': merchant['longitude'],
        'latitude': merchant['latitude']
    }

    # Set the related party of this transaction (The holder's bank)
    related = {
        'account_no': merchant['account_no'],
        'bvn': merchant['bvn'],
        'bank_id': merchant['bank_id'],
        'balance': merchant['balance']
    }

    # Debit the holder and update the transactions dataframe
    debit = debit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category='WITHDRAWAL', channel='CARD', nonce=nonce)
    add_transaction(debit)

    # Was the transaction a success; balance the books.
    if (debit['status'] == 'SUCCESS'):
        # Simulate time passing
        tick(60 * 2)

        # Credit the related account and update the transactions dataframe
        credit = credit_account(holder=related, related=holder, location=location, device_id=device_id, amount=amount, category='DEPOSIT', channel='CARD', nonce=nonce)
        add_transaction(credit)

        # For some reason a reveral was initiated.
        if reverse:
            # Time passes
            tick(60 * 10)

            # Reverse the debit and update transactions dataframe
            debit_reversal = credit_account(holder={**holder, 'balance': debit['balance']}, related=related, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
            add_transaction(debit_reversal)

            # Reverse the credit and update transactions dataframe
            credit_reversal = debit_account(holder={**related, 'balance': credit['balance']}, related=holder, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
            add_transaction(credit_reversal)

In [25]:
def pos_payment(holder, amount, nonce, reverse):
    """
        Simulates card payment transactions

        @params holder: The details of the account the money is leaving
        @params amount: The amount to be credited
        @params nonce: The nonce of the transaction
        @params reverse: A random chance of reversing the transaction
    """

    # Select a random merchant for this transaction
    merchant = random_merchant(holder['latitude'], holder['longitude'])

    # Get the device id
    device_id = merchant['device_id']

    # Get the device location
    location = {
        'state': merchant['state'],
        'longitude': merchant['longitude'],
        'latitude': merchant['latitude']
    }

    # Set the related party of this transaction (The holder's bank)
    related = {
        'account_no': merchant['account_no'],
        'bvn': merchant['bvn'],
        'bank_id': merchant['bank_id'],
        'balance': merchant['balance']
    }

    # Set the category of the transaction randomly
    category = random.choice(['PAYMENT', 'BILL'])

    # Debit the holder and update the transactions dataframe
    debit = debit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category=category, channel='CARD', nonce=nonce)
    add_transaction(debit)

    # Was the transaction a success; balance the books.
    if (debit['status'] == 'SUCCESS'):
        # Simulate time passing
        tick(60 * 2)

        # Credit the related account and update the transactions dataframe
        credit = credit_account(holder=related, related=holder, location=location, device_id=device_id, amount=amount, category=category, channel='CARD', nonce=nonce)
        add_transaction(credit)

        # For some reason a reveral was initiated.
        if reverse:
            # Time passes
            tick(60 * 10)

            # Reverse the debit and update transactions dataframe
            debit_reversal = credit_account(holder={**holder, 'balance': debit['balance']}, related=related, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
            add_transaction(debit_reversal)

            # Reverse the credit and update transactions dataframe
            credit_reversal = debit_account(holder={**related, 'balance': credit['balance']}, related=holder, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel='CARD', nonce=nonce)
            add_transaction(credit_reversal)

In [26]:
def mobile_transfer(holder, amount, nonce, reverse):
    """
        Simulates mobile transfer transactions

        @params holder: The details of the account the money is leaving
        @params amount: The amount to be credited
        @params nonce: The nonce of the transaction
        @params reverse: A random chance of reversing the transaction
    """

    # Get the user's BVN
    user = users_df[users_df.index == holder['bvn']].squeeze()

    # Select a random device belonging to the user or a random device
    device_id = random.choice(user['devices']) if random.random() >= .95 else random.choice(users_df.sample(n=1).squeeze()['devices'])

    # Set a location for the transaction (Randomly or User's Location)
    location = random_location(holder['latitude'], holder['longitude'])

    # Select a random recipient account
    account = random_account(exclude=holder['account_no'])

    # Set the relate account details
    related = {
        'account_no': account.name,
        'bvn': account['bvn'],
        'bank_id': account['bank_id'],
        'balance': account['balance']
    }

    # Select a random channel for the transaction
    channel = random.choices(['APP', 'USSD'], [3, 1], k=1)[0]

    # Debit the holder and update the transactions dataframe
    debit = debit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category='WITHDRAWAL', channel=channel, nonce=nonce)
    add_transaction(debit)

    # Update the books if the debit was successful
    if (debit['status'] == 'SUCCESS'):
        tick(60 * 2)
        # Credit the related account and update the transactions dataframe
        credit = credit_account(holder=related, related=holder, location=location, device_id=device_id, amount=amount, category='DEPOSIT', channel=channel, nonce=nonce)
        add_transaction(credit)

        # Should the transaction be reversed
        if reverse:
            # Time passes
            tick(60 * 10)

            # Reverse the debit and update the transactions dataframe
            debit_reversal = credit_account(holder={**holder, 'balance': debit['balance']}, related=related, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel=channel, nonce=nonce)
            add_transaction(debit_reversal)

            # Reverse the credit and update the transactions dataframe
            credit_reversal = debit_account(holder={**related, 'balance': credit['balance']}, related=holder, location=location, device_id=device_id, amount=amount, category='REVERSAL', channel=channel, nonce=nonce)
            add_transaction(credit_reversal)

In [27]:
def take_loan(holder, amount, nonce, reverse):
    """
        Simulates loan transactions

        @params holder: The details of the account the money is leaving
    """

    # Get the user's BVN
    user = users_df[users_df.index == holder['bvn']].squeeze()

    # Select a random device belonging to the user or a random device
    device_id = random.choice(user['devices']) if random.random() >= .95 else random.choice(users_df.sample(n=1).squeeze()['devices'])

    # Set a location for the transaction (Randomly or User's Location)
    location = random_location(holder['latitude'], holder['longitude'])

    # Select the bank for the account
    holder_account = accounts_df.loc[holder['account_no']]
    bank_id = holder_account['bank_id']

    # Set the relate account details
    related = {
        'account_no': bank_id,
        'bvn': bank_id,
        'bank_id': bank_id
    }

    # Select a random channel for the transaction
    channel = random.choices(['APP', 'USSD'], [3, 1], k=1)[0]

    # Debit the holder and update the transactions dataframe
    credit = credit_account(holder=holder, related=related, location=location, device_id=device_id, amount=amount, category='LOAN', channel=channel, nonce=nonce)
    add_transaction(credit)

In [28]:
EVENTS = ['ATM_WITHDRAWAL', 'ATM_PAYMENT', 'ATM_DEPOSIT', 'POS_WITHDRAWAL', 'POS_PAYMENT', 'MOBILE_TRANSFER', 'TAKE_LOAN'] # Possible types of events to simulate.
OCCURANCE = [1, 1, 2, 3, 3, 7, 3]

# Create a map for the events.
EVENT_MAPS = {
    'ATM_WITHDRAWAL': atm_withdrawal,
    'ATM_DEPOSIT': atm_deposit,
    'ATM_PAYMENT': atm_payment,
    'POS_WITHDRAWAL': atm_withdrawal,
    'POS_PAYMENT': atm_payment,
    'MOBILE_TRANSFER': mobile_transfer,
    'TAKE_LOAN': take_loan
}

In [29]:
def generate_event():
    """
        Simulates events that can take place in the banking process
    """

    # Selects a random event
    event = random.choices(EVENTS, OCCURANCE, k=1)[0]

    # Selects a random account to initiate event
    account = accounts_df[accounts_df['balance'] >= MIN_AMOUNT].sample(n=1).squeeze()
    balance = account['balance']

    # Decide on amount for transaction
    spend_limit = random.choices([.1, .4, .7, 1], [.7, .4, .3, .1], k=1)[0]
    amount = random_amount(level=account['kyc'], limit=spend_limit * balance)

    # Generate transaction nonce
    nonce = generate_nonce()

    # Will transaction be reversed?
    reverse = random.random() > .9

    user = users_df.loc[users_df.index == account['bvn']].squeeze()

    # Set the account holders details
    holder = {
        'account_no': account.name,
        'bvn': account['bvn'],
        'bank_id': account['bank_id'],
        'balance': account['balance'],
        'latitude': user['latitude'],
        'longitude': user['longitude']
    }

    # Play event
    EVENT_MAPS[event](holder, amount, nonce, reverse)

    # A new user comes in
    None if random.random() < .95 else new_user() if random.random() > .5 else new_account(account['bvn'])

In [30]:
np.random.seed(seed=SEED)
period = 60 * 60 * 24

def simulate(duration):
    """
        Simulate banking process for a given duration

        @params duration: The duration of the simulation
    """

    milestone = 0

    # Run for each scene
    while (duration > TICKER):
        start_time = time.perf_counter()

        # Factoring time for sleep and low transaction volumn
        if BASE_TIME.hour <= 6:
            generate_event() if random.random() > .7 else tick(60 * 5)
        else:
            generate_event()

        end_time = time.perf_counter()
        progress = TICKER // period
        time_taken = (end_time - start_time) * 1000  # convert to seconds

        if milestone < progress:
            milestone = progress
            print(f'Season: {milestone} Time: {time_taken}s')


# Simulate for 1 year
duration = period * 365
simulate(duration)

Season: 1 Time: 4.1293749964097515s
Season: 2 Time: 3.727417002664879s
Season: 3 Time: 4.836833002627827s
Season: 4 Time: 4.971125003066845s
Season: 5 Time: 5.594542002654634s
Season: 6 Time: 3.8776669971412048s
Season: 7 Time: 6.732416994054802s
Season: 8 Time: 5.116625005030073s
Season: 9 Time: 5.072708998341113s
Season: 10 Time: 4.047582988278009s
Season: 11 Time: 3.4521250054240227s
Season: 12 Time: 3.4545840026112273s
Season: 13 Time: 7.708499993896112s
Season: 14 Time: 5.405458010500297s
Season: 15 Time: 7.193750003352761s
Season: 16 Time: 5.476000005728565s
Season: 17 Time: 6.195958005264401s
Season: 18 Time: 7.177666004281491s
Season: 19 Time: 6.205582991242409s
Season: 20 Time: 4.394999996293336s
Season: 21 Time: 5.5442919983761385s
Season: 22 Time: 3.6593749973690137s
Season: 23 Time: 7.49550000182353s
Season: 24 Time: 5.3877079917583615s
Season: 25 Time: 4.548707991489209s
Season: 26 Time: 6.5152499882970005s
Season: 27 Time: 4.559124994557351s
Season: 28 Time: 7.580665987916291s
Season: 29 Time: 5.627582999295555s
Season: 30 Time: 4.593332996591926s
Season: 31 Time: 4.9149999977089465s
Season: 32 Time: 4.912917007459328s
Season: 33 Time: 6.654957993305288s
Season: 34 Time: 8.141457990859635s
Season: 35 Time: 6.927000009454787s
Season: 36 Time: 4.794374995981343s
Season: 37 Time: 12.209499996970408s
Season: 38 Time: 4.884166002739221s
Season: 39 Time: 7.1644580020802096s
Season: 40 Time: 10.840875009307638s
Season: 41 Time: 6.518958005472086s
Season: 42 Time: 6.154875009087846s
Season: 43 Time: 6.160542005090974s
Season: 44 Time: 8.49791600194294s
Season: 45 Time: 5.266042004222982s
Season: 46 Time: 7.340416996157728s
Season: 47 Time: 6.357209000270814s
Season: 48 Time: 8.558083005482331s
Season: 49 Time: 7.532917006756179s
Season: 50 Time: 7.049499996355735s
Season: 51 Time: 4.2224580101901665s
Season: 52 Time: 4.504833006649278s
Season: 53 Time: 6.420082994736731s
Season: 54 Time: 6.609333009691909s
Season: 55 Time: 6.495708003058098s
Season: 56 Time: 6.511832994874567s
Season: 57 Time: 5.717082996852696s
Season: 58 Time: 6.914541008882225s
Season: 59 Time: 6.680457998299971s
Season: 60 Time: 5.474499994306825s
Season: 61 Time: 8.823500000289641s
Season: 62 Time: 6.755084003088996s
Season: 63 Time: 5.493082993780263s
Season: 64 Time: 8.07008300034795s
Season: 65 Time: 9.422667004400864s
Season: 66 Time: 7.183291003457271s
Season: 67 Time: 9.36483300756663s
Season: 68 Time: 7.0679589989595115s
Season: 69 Time: 4.63729198963847s
Season: 70 Time: 7.489916009944864s
Season: 71 Time: 7.416833002935164s
Season: 72 Time: 10.054540995042771s
Season: 73 Time: 9.736584004713222s
Season: 74 Time: 11.373374989489093s
Season: 75 Time: 7.454124992364086s
Season: 76 Time: 4.905624999082647s
Season: 77 Time: 7.356707996223122s
Season: 78 Time: 7.827833003830165s
Season: 79 Time: 6.5957920014625415s
Season: 80 Time: 6.459875003201887s
Season: 81 Time: 4.8245420039165765s
Season: 82 Time: 7.688084006076679s
Season: 83 Time: 6.402166996849701s
Season: 84 Time: 7.5564159924397245s
Season: 85 Time: 9.483834001002833s
Season: 86 Time: 6.90875000145752s
Season: 87 Time: 9.283583000069484s
Season: 88 Time: 9.19120799517259s
Season: 89 Time: 7.817707999492995s
Season: 90 Time: 6.575417006388307s
Season: 91 Time: 10.718083998654038s
Season: 92 Time: 5.0789579981938004s
Season: 93 Time: 8.053832993027754s
Season: 94 Time: 6.86837499961257s
Season: 95 Time: 8.067708986345679s
Season: 96 Time: 13.60662501247134s
Season: 97 Time: 5.18683300470002s
Season: 98 Time: 11.160374997416511s
Season: 99 Time: 9.877499993308447s
Season: 100 Time: 7.036915994831361s
Season: 101 Time: 8.908292002161033s
Season: 102 Time: 5.390750011429191s
Season: 103 Time: 9.957125002983958s
Season: 104 Time: 12.556541987578385s
Season: 105 Time: 8.730874993489124s
Season: 106 Time: 11.874000003444962s
Season: 107 Time: 10.079332991153933s
Season: 108 Time: 9.760708999237977s
Season: 109 Time: 5.400750000262633s
Season: 110 Time: 11.428792000515386s
Season: 111 Time: 11.337583011481911s
Season: 112 Time: 7.65808300639037s
Season: 113 Time: 11.34266699955333s
Season: 114 Time: 8.6286250007106s
Season: 115 Time: 11.78908400470391s
Season: 116 Time: 8.715584001038224s
Season: 117 Time: 9.11350001115352s
Season: 118 Time: 5.780040999525227s
Season: 119 Time: 9.111499995924532s
Season: 120 Time: 5.979166002362035s
Season: 121 Time: 13.203208000049926s
Season: 122 Time: 13.847458001691848s
Season: 123 Time: 10.151583002880216s
Season: 124 Time: 12.44587499240879s
Season: 125 Time: 9.37195798906032s
Season: 126 Time: 8.879375003743917s
Season: 127 Time: 12.900791989522986s
Season: 128 Time: 8.34445800865069s
Season: 129 Time: 12.922458001412451s
Season: 130 Time: 5.7399590004934s
Season: 131 Time: 10.269833001075312s
Season: 132 Time: 8.652000004076399s
Season: 133 Time: 12.442292005289346s
Season: 134 Time: 12.834417007979937s
Season: 135 Time: 10.767833999125287s
Season: 136 Time: 13.637041003676131s
Season: 137 Time: 5.861500001628883s
Season: 138 Time: 11.766833005822264s
Season: 139 Time: 6.020083004841581s
Season: 140 Time: 9.259333004592918s
Season: 141 Time: 8.070042007602751s
Season: 142 Time: 8.062583990977146s
Season: 143 Time: 9.436082997126505s
Season: 144 Time: 13.913458009483293s
Season: 145 Time: 8.128916990244761s
Season: 146 Time: 12.21241599705536s
Season: 147 Time: 13.477917003910989s
Season: 148 Time: 12.666582988458686s
Season: 149 Time: 8.531208004569635s
Season: 150 Time: 6.224625001777895s
Season: 151 Time: 11.983959004282951s
Season: 152 Time: 13.994207998621278s
Season: 153 Time: 6.299875007243827s
Season: 154 Time: 13.588874993729405s
Season: 155 Time: 13.674332993105054s
Season: 156 Time: 13.702791999094188s
Season: 157 Time: 14.110542004345916s
Season: 158 Time: 9.401000002981164s
Season: 159 Time: 10.372499993536621s
Season: 160 Time: 10.431583010358736s
Season: 161 Time: 12.929375006933697s
Season: 162 Time: 6.414874995243736s
Season: 163 Time: 14.309083999251015s
Season: 164 Time: 14.201458005118184s
Season: 165 Time: 10.584915988147259s
Season: 166 Time: 10.635040991473943s
Season: 167 Time: 6.4866250031627715s
Season: 168 Time: 12.947833005455323s
Season: 169 Time: 13.61445800284855s
Season: 170 Time: 9.206916991388425s
Season: 171 Time: 10.259999995469116s
Season: 172 Time: 11.694542001350783s
Season: 173 Time: 11.059708005632274s
Season: 174 Time: 10.77908300794661s
Season: 175 Time: 15.996166999684647s
Season: 176 Time: 9.682042000349611s
Season: 177 Time: 6.80820900015533s
Season: 178 Time: 6.908082999871112s
Season: 179 Time: 16.881000003195368s
Season: 180 Time: 10.682082996936515s
Season: 181 Time: 15.218166998238303s
Season: 182 Time: 11.118292008177377s
Season: 183 Time: 15.40329099225346s
Season: 184 Time: 11.694916989654303s
Season: 185 Time: 15.281749991117977s
Season: 186 Time: 18.604000011691824s
Season: 187 Time: 17.616750003071502s
Season: 188 Time: 11.601915990468115s
Season: 189 Time: 14.425125002162531s
Season: 190 Time: 11.438624991569668s
Season: 191 Time: 11.84191599895712s
Season: 192 Time: 11.054500006139278s
Season: 193 Time: 11.477457999717444s
Season: 194 Time: 15.797292013303377s
Season: 195 Time: 14.481541002169251s
Season: 196 Time: 16.55529199342709s
Season: 197 Time: 18.38370898622088s
Season: 198 Time: 16.89545800036285s
Season: 199 Time: 7.357791997492313s
Season: 200 Time: 17.03291699232068s
Season: 201 Time: 16.784749997896142s
Season: 202 Time: 17.428166000172496s
Season: 203 Time: 7.411291007883847s
Season: 204 Time: 12.624875002074987s
Season: 205 Time: 16.81458299572114s
Season: 206 Time: 16.68204199813772s
Season: 207 Time: 15.505874995142221s
Season: 208 Time: 15.741374998469837s
Season: 209 Time: 7.445790994097479s
Season: 210 Time: 15.749957994557917s
Season: 211 Time: 12.22212499123998s
Season: 212 Time: 17.281791995628737s
Season: 213 Time: 13.501833003829233s
Season: 214 Time: 10.923082998488098s
Season: 215 Time: 12.85262500459794s
Season: 216 Time: 11.141458002384752s
Season: 217 Time: 11.29833300365135s
Season: 218 Time: 8.207916995161213s
Season: 219 Time: 14.372124991496094s
Season: 220 Time: 16.767416993388906s
Season: 221 Time: 15.552583994576707s
Season: 222 Time: 10.775957998703234s
Season: 223 Time: 17.136666996520944s
Season: 224 Time: 18.854125009966083s
Season: 225 Time: 13.699707997147925s
Season: 226 Time: 15.010750008514151s
Season: 227 Time: 12.436958000762388s
Season: 228 Time: 12.617000000318512s
Season: 229 Time: 17.299500002991408s
Season: 230 Time: 8.08316600159742s
Season: 231 Time: 16.160250001121312s
Season: 232 Time: 18.37829100259114s
Season: 233 Time: 11.723249990609474s
Season: 234 Time: 14.088875002926216s
Season: 235 Time: 11.778665997553617s
Season: 236 Time: 18.24687499902211s
Season: 237 Time: 15.72558299812954s
Season: 238 Time: 13.438082998618484s
Season: 239 Time: 12.201707999338396s
Season: 240 Time: 8.91737500205636s
Season: 241 Time: 11.34995800384786s
Season: 242 Time: 17.702333003398962s
Season: 243 Time: 16.514041999471374s
Season: 244 Time: 16.756917000748217s
Season: 245 Time: 18.828083004336804s
Season: 246 Time: 10.101165986270644s
Season: 247 Time: 19.26695799920708s
Season: 248 Time: 13.120875009917654s
Season: 249 Time: 19.893417003913783s
Season: 250 Time: 13.310666006873362s
Season: 251 Time: 20.01358399866149s
Season: 252 Time: 14.978624996729195s
Season: 253 Time: 17.203334005898796s
Season: 254 Time: 17.612791998544708s
Season: 255 Time: 17.751709005096927s
Season: 256 Time: 14.409750001505017s
Season: 257 Time: 20.369417004985735s
Season: 258 Time: 10.303916002158076s
Season: 259 Time: 14.585333003196865s
Season: 260 Time: 21.724833000916988s
Season: 261 Time: 18.717333005042747s
Season: 262 Time: 14.612124999985099s
Season: 263 Time: 8.523791999323294s
Season: 264 Time: 9.44204100233037s
Season: 265 Time: 14.220666998880915s
Season: 266 Time: 12.185958010377362s
Season: 267 Time: 21.133999995072372s
Season: 268 Time: 9.075249996385537s
Season: 269 Time: 9.445333998883143s
Season: 270 Time: 21.530708007048815s
Season: 271 Time: 8.981958002550527s
Season: 272 Time: 13.829374991473742s
Season: 273 Time: 15.58241700695362s
Season: 274 Time: 13.250957999844104s
Season: 275 Time: 12.031207996187732s
Season: 276 Time: 14.993082993896678s
Season: 277 Time: 14.227292005671188s
Season: 278 Time: 14.695167003083043s
Season: 279 Time: 12.753082992276177s
Season: 280 Time: 9.259708007448353s
Season: 281 Time: 15.405625003040768s
Season: 282 Time: 19.68041600775905s
Season: 283 Time: 15.113457993720658s
Season: 284 Time: 14.812333989539184s
Season: 285 Time: 10.034124992671423s
Season: 286 Time: 14.358667001943104s
Season: 287 Time: 14.949375006835908s
Season: 288 Time: 14.816041992162354s
Season: 289 Time: 20.769249997101724s
Season: 290 Time: 20.978915999876335s
Season: 291 Time: 21.75050000369083s
Season: 292 Time: 18.688500000280328s
Season: 293 Time: 21.98441700602416s
Season: 294 Time: 10.725874992203899s
Season: 295 Time: 16.497042000992224s
Season: 296 Time: 30.224874994019046s
Season: 297 Time: 24.681875001988374s
Season: 298 Time: 21.065666995127685s
Season: 299 Time: 22.09954099089373s
Season: 300 Time: 23.544042007415555s
Season: 301 Time: 29.708499991102144s
Season: 302 Time: 27.254291999270208s
Season: 303 Time: 20.744292007293552s
Season: 304 Time: 15.5395839974517s
Season: 305 Time: 23.93204100371804s
Season: 306 Time: 24.91158300836105s
Season: 307 Time: 18.689374992391095s
Season: 308 Time: 14.36666600056924s
Season: 309 Time: 14.931500001694076s
Season: 310 Time: 18.00941700639669s
Season: 311 Time: 23.073500007740222s
Season: 312 Time: 20.84087500406895s
Season: 313 Time: 23.383916006423533s
Season: 314 Time: 21.894916993915103s
Season: 315 Time: 16.7387089895783s
Season: 316 Time: 23.952000003191642s
Season: 317 Time: 16.026875004172325s
Season: 318 Time: 23.435540992068127s
Season: 319 Time: 18.986667011631653s
Season: 320 Time: 15.093958005309105s
Season: 321 Time: 14.682207998703234s
Season: 322 Time: 9.732083999551833s
Season: 323 Time: 9.906041988870129s
Season: 324 Time: 16.67474998976104s
Season: 325 Time: 24.13045799767133s
Season: 326 Time: 15.861790991039015s
Season: 327 Time: 9.839666992775165s
Season: 328 Time: 22.929416998522356s
Season: 329 Time: 15.202958005829714s
Season: 330 Time: 12.068583993823268s
Season: 331 Time: 24.48333299253136s
Season: 332 Time: 17.368040993460454s
Season: 333 Time: 21.66958300222177s
Season: 334 Time: 24.463583002216183s
Season: 335 Time: 17.474000007496215s
Season: 336 Time: 22.618082992266864s
Season: 337 Time: 26.589790999423712s
Season: 338 Time: 24.15866599767469s
Season: 339 Time: 20.367624994833022s
Season: 340 Time: 22.109083001851104s
Season: 341 Time: 13.073333000647835s
Season: 342 Time: 16.245457998593338s
Season: 343 Time: 22.742792003555223s
Season: 344 Time: 17.89287501014769s
Season: 345 Time: 18.04708300915081s
Season: 346 Time: 18.121041997801512s
Season: 347 Time: 15.682957993703894s
Season: 348 Time: 24.823875006404705s
Season: 349 Time: 24.085083990939893s
Season: 350 Time: 22.397207998437807s
Season: 351 Time: 17.716957998345606s
Season: 352 Time: 19.240625013480894s
Season: 353 Time: 18.64174999354873s
Season: 354 Time: 18.420958003844135s
Season: 355 Time: 15.909916997770779s
Season: 356 Time: 26.153667000471614s
Season: 357 Time: 24.702499998966232s
Season: 358 Time: 10.41441700363066s
Season: 359 Time: 15.781583002535626s
Season: 360 Time: 13.947790997917764s
Season: 361 Time: 21.41316699271556s
Season: 362 Time: 11.782999994466081s
Season: 363 Time: 20.75554200564511s
Season: 364 Time: 26.98487498855684s
Season: 365 Time: 22.309125008177944s

## Saving the datasets

In [31]:
# Let's concatinate the transactions of all banks into one dataset.
transactions_df = pd.concat(transactions.values())

In [38]:
transactions_df

,amount,balance,time,holder,holder_bvn,holder_bank,related,related_bvn,related_bank,state,latitude,longitude,status,type,category,channel,device,nonce,reported
0,32458.22,3.245822e+04,2024-09-07 09:42:16.133128,ACC_0000000020,USER_000000000020,BANK_00000,BANK_00000,BANK_00000,BANK_00000,Kaduna,10.541201,7.444884,SUCCESS,CREDIT,OPENING,APP,MOBILE_00020_00001,953858487001905987532,False
1,9060154.27,9.060154e+06,2024-09-07 09:49:25.133128,ACC_0000000196,USER_000000000196,BANK_00000,BANK_00000,BANK_00000,BANK_00000,Niger,6.465194,7.498886,SUCCESS,CREDIT,OPENING,APP,MOBILE_00196_00001,685440985787190852952,False
2,8953.68,8.953680e+03,2024-09-07 09:49:56.133128,ACC_0000000210,USER_000000000210,BANK_00000,BANK_00000,BANK_00000,BANK_00000,Akwa Ibom,6.560176,4.232969,SUCCESS,CREDIT,OPENING,APP,MOBILE_00210_00001,688258551699592298468,False
3,12889.66,1.288966e+04,2024-09-07 09:52:06.133128,ACC_0000000263,USER_000000000263,BANK_00000,BANK_00000,BANK_00000,BANK_00000,Katsina,12.987941,7.622800,SUCCESS,CREDIT,OPENING,APP,MOBILE_00263_00001,687216714536206082135,False
4,9724462.31,9.724462e+06,2024-09-07 09:52:57.133128,ACC_0000000281,USER_000000000281,BANK_00000,BANK_00000,BANK_00000,BANK_00000,Sokoto,13.009407,5.232351,SUCCESS,CREDIT,OPENING,APP,MOBILE_00281_00001,325635600518651313685,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25445,219808.23,1.864606e+08,2025-09-07 07:41:24.133128,ACC_0000026616,USER_000000001535,BANK_00049,ACC_0000012488,USER_000000006751,BANK_00026,Sokoto,13.003718,5.257789,SUCCESS,CREDIT,DEPOSIT,APP,MOBILE_17423_00001,879137369135146530641,False
25446,2614386.63,5.617064e+07,2025-09-07 07:41:28.133128,ACC_0000004154,USER_000000002601,BANK_00049,ACC_0000014180,USER_000000000594,BANK_00021,Kwara,10.881490,6.181557,FAILED,DEBIT,PAYMENT,CARD,ATM_0000000086,571444283623491117909,False
25447,216081.67,1.710556e+06,2025-09-07 09:07:45.133128,ACC_0000014380,USER_000000007688,BANK_00049,ATM_0000000012,ATM_0000000012,BANK_00006,Kwara,10.832767,6.161278,SUCCESS,CREDIT,DEPOSIT,CARD,ATM_0000000012,215928828255331533807,False
25448,3426.48,6.873774e+07,2025-09-07 09:20:12.133128,ACC_0000008987,USER_000000000591,BANK_00049,ACC_0000024209,USER_000000001098,BANK_00038,Benue,10.888057,4.366624,SUCCESS,CREDIT,DEPOSIT,USSD,MOBILE_09671_00001,307141949037618058941,False
25449,22615.68,6.401889e+06,2025-09-07 09:22:51.133128,ACC_0000027365,USER_000000014072,BANK_00049,ACC_0000019357,USER_000000000040,BANK_00031,Rivers,4.805804,7.078552,SUCCESS,CREDIT,DEPOSIT,APP,MOBILE_07506_00001,190954317773056760201,False

In [33]:
transactions_df.to_csv(f"../datasets/transactions.csv", index=False)

In [34]:
bank_device_df.to_csv(f"../datasets/bank_devices.csv")

In [35]:
accounts_df = accounts_df.reset_index().merge(
    users_df.reset_index()[['state', 'latitude', 'longitude', 'devices', 'user_id']], 
    how='left', 
    left_on='bvn', 
    right_on='user_id'
).drop(columns='user_id').set_index('account_no')

In [49]:
accounts_df

,balance,kyc,bvn,bank_id,merchant,state,latitude,longitude,devices,opening_device
account_no,,,,,,,,,,
ACC_0000000001,203204.00,1,USER_000000000001,BANK_00010,False,Plateau,7.351898,4.059210,"[MOBILE_00001_00001, MOBILE_00001_00002]",MOBILE_00001_00001
ACC_0000000002,15654.96,1,USER_000000000002,BANK_00030,False,Bayelsa,7.538992,4.747898,[MOBILE_00002_00001],MOBILE_00002_00001
ACC_0000000003,392448.79,1,USER_000000000003,BANK_00034,False,Ogun,10.907129,3.678199,[MOBILE_00003_00001],MOBILE_00003_00001
ACC_0000000004,19740.26,1,USER_000000000004,BANK_00013,False,Benue,10.888057,4.366624,"[MOBILE_00004_00001, MOBILE_00004_00002]",MOBILE_00004_00002
ACC_0000000005,2100421.00,2,USER_000000000005,BANK_00040,False,Niger,6.463792,7.531530,[MOBILE_00005_00001],MOBILE_00005_00001
...,...,...,...,...,...,...,...,...,...,...
ACC_0000040990,82080.60,1,USER_000000004691,BANK_00000,False,Ondo,8.424752,5.939270,"[MOBILE_04691_00001, MOBILE_04691_00002]",MOBILE_04691_00002
ACC_0000040991,52570766.70,4,USER_000000020937,BANK_00038,False,Zamfara,6.181926,5.388727,[MOBILE_20937_00001],MOBILE_20937_00001
ACC_0000040992,71634.96,1,USER_000000020938,BANK_00026,False,FCT,9.192767,3.932866,"[MOBILE_20938_00001, MOBILE_20938_00002]",MOBILE_20938_00001
ACC_0000040993,290396.95,2,USER_000000010864,BANK_00038,False,Ekiti,6.894277,3.605152,"[MOBILE_10864_00001, MOBILE_10864_00002]",MOBILE_10864_00002
ACC_0000040994,1433008.92,3,USER_000000018861,BANK_00002,False,Lagos,6.487420,3.365049,"[MOBILE_18861_00001, MOBILE_18861_00002]",MOBILE_18861_00002

In [50]:
accounts_df.to_csv(f"../datasets/accounts.csv")